/* :root {
    --yellow: #BB8A35;
} */

.navbar-light .navbar-brand {
    /* color: var(--yellow); */
    /* color:  #BB8A35; */
    color:  rgba(187, 138,53)
}


.navbar-brand {
    color: var(--yellow);
    /* color: #BB8A35 ; */
    /* width: 100%; */
    /* margin: auto; */
    /* justify-content: center; */
    /* font-family: degular, sans-serif; */
    /* font-style: normal; */
    /* font-weight: 200;  */
    font-size: 3rem;
}