/* :root {
    --yellow: #87e40f;
}

.navbar-light .navbar-brand {
    /* color: var(--yellow); */
    /* color:  #BB8A35;
    color:  rgb(20, 211, 13)
}
 */

/* .navbar-brand {
    color: var(--yellow);
    color: #BB8A35 ; */
    /* width: 100%; */
    /* margin: auto; */
    /* justify-content: center; */
    /* font-family: degular, sans-serif; */
    /* font-style: normal; */
    /* font-weight: 200; 
    font-size: 3rem;
}*/