.container__main {
    /* border: 10px solid rgb(0, 60, 255); */
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    margin-top: 8em;
}

.container__section {
    /* border: 5px solid rgb(255, 81, 0); */
    padding: 10px;
    margin: 10px;
    flex: 1;
}

.spacer {
    margin-top: 5em;
}

button {
    /* border: 1px solid red; */
    color: #ecd66e;
    background-color:  #8e5b52;
    display: flex;
    font-size: 2em;
    padding: 30px;
    margin: auto;
    margin-top:10px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}